.vscode/
nextorch/__pycache__/
nextorch/.vscode/
examples/PFR/__pycache__/
buildinstructions
test_out_simple_1d/parity_w_ci_final.png
test_out_simple_1d/parity_final.png
test_out_simple_1d/objective_func_i9.png
test_out_simple_1d/objective_func_i8.png
test_out_simple_1d/objective_func_i7.png
test_out_simple_1d/objective_func_i6.png
test_out_simple_1d/objective_func_i5.png
test_out_simple_1d/objective_func_i4.png
test_out_simple_1d/objective_func_i3.png
test_out_simple_1d/objective_func_i2.png
test_out_simple_1d/objective_func_i1.png
test_out_simple_1d/objective_func_i0.png
test_out_simple_1d/acq_func_i9.png
test_out_simple_1d/acq_func_i8.png
test_out_simple_1d/acq_func_i7.png
test_out_simple_1d/acq_func_i6.png
test_out_simple_1d/acq_func_i5.png
test_out_simple_1d/acq_func_i4.png
test_out_simple_1d/acq_func_i3.png
test_out_simple_1d/acq_func_i2.png
test_out_simple_1d/acq_func_i1.png
test_out_simple_1d/acq_func_i0.png
nextorch.egg-info/top_level.txt
nextorch.egg-info/SOURCES.txt
nextorch.egg-info/requires.txt
nextorch.egg-info/PKG-INFO
nextorch.egg-info/dependency_links.txt
dist/nextorch-0.0.1.tar.gz
dist/nextorch-0.0.1-py3-none-any.whl
build/lib/nextorch/utils.py
build/lib/nextorch/test/test_plotting.py
build/lib/nextorch/test/test_parameter.py
build/lib/nextorch/test/test_io.py
build/lib/nextorch/test/test_input.xlsx
build/lib/nextorch/test/test_EHVI.py
build/lib/nextorch/test/test_1d_function.py
build/lib/nextorch/test/fructose_pfr_model_function.py
build/lib/nextorch/test/__init__.py
build/lib/nextorch/plotting.py
build/lib/nextorch/parameter.py
build/lib/nextorch/io.py
build/lib/nextorch/doe.py
build/lib/nextorch/bo.py
build/lib/nextorch/__init__.py
.DS_Store
.ipynb_checkpoints
